/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 90vw;
  max-width: 23.125rem;
  height: 90vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container__yellow {
  max-width: 23.4375rem;
  height: 33%;
  padding: 3.1875rem;
  min-height: 31.25rem;
  background-color: hsl(31deg, 77%, 52%);
}
.container__yellow img {
  width: 100%;
  max-width: 4.375rem;
  margin-bottom: 2.5rem;
}
.container__yellow h1 {
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
  font-weight: bold;
  color: hsl(0deg, 0%, 95%);
  text-transform: uppercase;
  padding-bottom: 1.25rem;
}
.container__yellow p {
  color: hsla(0deg, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.container__yellow button {
  font-size: 0.9375rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  border-radius: 1.875rem;
  border: 0;
  padding: 1.25rem 2.5rem;
  background-color: hsl(0deg, 0%, 95%);
}
.container__yellow button:hover {
  color: hsl(0deg, 0%, 95%);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid hsl(0deg, 0%, 95%);
  cursor: pointer;
}
.container__yellow button {
  color: hsl(31deg, 77%, 52%);
}
.container__blue {
  max-width: 23.4375rem;
  height: 33%;
  padding: 3.1875rem;
  min-height: 31.25rem;
  background-color: hsl(184deg, 100%, 22%);
}
.container__blue img {
  width: 100%;
  max-width: 4.375rem;
  margin-bottom: 2.5rem;
}
.container__blue h1 {
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
  font-weight: bold;
  color: hsl(0deg, 0%, 95%);
  text-transform: uppercase;
  padding-bottom: 1.25rem;
}
.container__blue p {
  color: hsla(0deg, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.container__blue button {
  font-size: 0.9375rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  border-radius: 1.875rem;
  border: 0;
  padding: 1.25rem 2.5rem;
  background-color: hsl(0deg, 0%, 95%);
}
.container__blue button:hover {
  color: hsl(0deg, 0%, 95%);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid hsl(0deg, 0%, 95%);
  cursor: pointer;
}
.container__blue button {
  color: hsl(184deg, 100%, 22%);
}
.container__green {
  max-width: 23.4375rem;
  height: 33%;
  padding: 3.1875rem;
  min-height: 31.25rem;
  background-color: hsl(179deg, 100%, 13%);
}
.container__green img {
  width: 100%;
  max-width: 4.375rem;
  margin-bottom: 2.5rem;
}
.container__green h1 {
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", cursive;
  font-weight: bold;
  color: hsl(0deg, 0%, 95%);
  text-transform: uppercase;
  padding-bottom: 1.25rem;
}
.container__green p {
  color: hsla(0deg, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.container__green button {
  font-size: 0.9375rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  border-radius: 1.875rem;
  border: 0;
  padding: 1.25rem 2.5rem;
  background-color: hsl(0deg, 0%, 95%);
}
.container__green button:hover {
  color: hsl(0deg, 0%, 95%);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid hsl(0deg, 0%, 95%);
  cursor: pointer;
}
.container__green button {
  color: hsl(179deg, 100%, 13%);
}

@media (min-width: 1440px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 80vw;
    height: auto;
  }
}