.container {
    width: 90vw;
    max-width: 23.125rem;
    height: 90vh;
    justify-content: center;
    align-items: center;
    &__yellow {
        @include cards;
        background-color: $Bright-orange;
        button {
            color: $Bright-orange;
        }
    }
    &__blue {
        @include cards;
        background-color: $Dark-cyan;
        button {
            color: $Dark-cyan;
        }
    }
    &__green {
        @include cards;
        background-color: $Very-dark-cyan;
        button {
            color: $Very-dark-cyan;
        }
    }
}