$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);

$Transparent-white: hsla(0, 0%, 100%, 0.75);
$Very-light-gray: hsl(0, 0%, 95%);

$fuente1: 'Big Shoulders Display', cursive;
$fuente2:'Lexend Deca', sans-serif;

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cards {
    max-width: 23.4375rem;
    height: 33%;
    padding: 3.1875rem;
    min-height: 31.25rem;
    
    img {
        width: 100%;
        max-width: 4.375rem;
        margin-bottom: 2.5rem;
    }
    h1 {
        font-size: 2.5rem;
        font-family: $fuente1;
        font-weight: bold;
        color: $Very-light-gray;
        text-transform: uppercase;
        padding-bottom: 1.25rem;
    }
    p {
        color: $Transparent-white;
        font-family: $fuente2;
        font-weight: 400;
        line-height: 1.625rem;
        margin-bottom: 1.875rem;
    }
    button {
        font-size: 0.9375rem;
        font-family: $fuente2;
        font-weight: 400;
        border-radius: 1.875rem;
        border: 0;
        padding: 1.25rem 2.5rem;
        background-color: $Very-light-gray;
    }
    button:hover {
        color: $Very-light-gray;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid $Very-light-gray;
        cursor: pointer;
    }
}
